# ignore everything
/*

# ignore these directories
/ranger/plugins
/ranger/__pycache__
alacritty/alacritty-theme/

# don't ignore this files:

!/redshift
!/alacritty
!/powerline-shell
!/ranger
!/polybar
!/dunst

!picom.conf
!prefs.js
!i3-scrot.conf
!.gitignore
