# ignore everything
/*

# don't ignore this files:

!/redshift
!/alacritty
!/powerline-shell
!/ranger
/ranger/plugins
/ranger/__pycache__
!/dunst
!/dunst

!picom.conf
!prefs.js
!i3-scrot.conf
!.gitignore
